.sidebar {
  margin-top: 30px;
  margin-right: 30px;
  width: 200px;
}

.sidebar li {
  display: flex;
  margin: 20px 0;
}

.sidebar li p {
  font-weight: 200;
  margin-right: 10px;
  color: gray;
}

/* حالت فعال (وقتی دسته انتخاب شده) */
.sidebar li.active {
  background-color: #e3f2fd;
  color: #1976d2;
  font-weight: 600;
  border-right: 4px solid #1976d2;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 10px 0;
}

/* افکت hover */
.sidebar li:hover {
  background-color: #f5f5f5;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
